<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--<extension point="org.eclipse.ui.startup">
    <startup class="com.py.test.Activator"/>
</extension>-->
<extension
    point="org.eclipse.ui.commands">
    <command
        id="com.korean.spellcheck.commands.spellCheck"
        name="맞춤법 검사" />
</extension>

<extension
    point="org.eclipse.ui.handlers">
    <handler
        commandId="com.korean.spellcheck.commands.spellCheck"
        class="com.korean.spellcheck.handler.SpellCheckHandler" />
</extension>

<extension
    point="org.eclipse.ui.bindings">
    <key
        commandId="com.korean.spellcheck.commands.spellCheck"
        contextId="org.eclipse.ui.contexts.window"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="ALT+SHIFT+1" />
</extension>

<extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
        class="com.korean.spellcheck.editor.QuickFixResolutionGenerator"
        markerType="org.eclipse.core.resources.problemmarker">
    </markerResolutionGenerator>
</extension>

</plugin>
